In [2]:
import pandas as pd

url=r'\\192.168.0.118\d\MachineLearning\Data\Credit.xls'
crdt=pd.read_excel(url,sheet_name='Data')
crdt.head()

,OBS#,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO/TV,EDUCATION,RETRAINING,...,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPEND,TELEPHONE,FOREIGN,RESPONSE
0,1,0,6,4,0,0,0,1,0,0,...,67,0,0,1,2,2,1,1,0,1
1,2,1,48,2,0,0,0,1,0,0,...,22,0,0,1,1,2,1,0,0,0
2,3,3,12,4,0,0,0,0,1,0,...,49,0,0,1,1,1,2,0,0,1
3,4,0,42,2,0,0,1,0,0,0,...,45,0,0,0,1,2,2,0,0,1
4,5,0,24,3,1,0,0,0,0,0,...,53,0,0,0,2,2,2,0,0,0

In [5]:
crdt.shape

(1000, 32)

In [16]:
crdt.describe().T

,count,mean,std,min,25%,50%,75%,max
OBS,1000.0,500.500,288.819436,1.0,250.75,500.5,750.25,1000.0
CHK_ACCT,1000.0,1.577,1.257638,0.0,0.00,1.0,3.00,3.0
DURATION,1000.0,20.903,12.058814,4.0,12.00,18.0,24.00,72.0
HISTORY,1000.0,2.545,1.083120,0.0,2.00,2.0,4.00,4.0
NEW_CAR,1000.0,0.234,0.423584,0.0,0.00,0.0,0.00,1.0
USED_CAR,1000.0,0.103,0.304111,0.0,0.00,0.0,0.00,1.0
FURNITURE,1000.0,0.181,0.385211,0.0,0.00,0.0,0.00,1.0
RADIO/TV,1000.0,0.280,0.449224,0.0,0.00,0.0,1.00,1.0
EDUCATION,1000.0,0.050,0.218054,0.0,0.00,0.0,0.00,1.0
RETRAINING,1000.0,0.097,0.296106,0.0,0.00,0.0,0.00,1.0
AMOUNT,1000.0,3271.258,2822.736876,250.0,1365.50,2319.5,3972.25,18424.0
SAV_ACCT,1000.0,1.105,1.580023,0.0,0.00,0.0,2.00,4.0
EMPLOYMENT,1000.0,2.384,1.208306,0.0,2.00,2.0,4.00,4.0
INSTALL_RATE,1000.0,2.973,1.118715,1.0,2.00,3.0,4.00,4.0
MALE_DIV,1000.0,0.050,0.218054,0.0,0.00,0.0,0.00,1.0
MALE_SINGLE,1000.0,0.548,0.497940,0.0,0.00,1.0,1.00,1.0
MALE_MAR,1000.0,0.092,0.289171,0.0,0.00,0.0,0.00,1.0
CO-APPLICANT,1000.0,0.041,0.198389,0.0,0.00,0.0,0.00,1.0
GUARANTOR,1000.0,0.052,0.222138,0.0,0.00,0.0,0.00,1.0
TIME_RES,1000.0,2.845,1.103718,1.0,2.00,3.0,4.00,4.0
REAL_ESTATE,1000.0,0.282,0.450198,0.0,0.00,0.0,1.00,1.0
PROP_NONE,1000.0,0.154,0.361129,0.0,0.00,0.0,0.00,1.0
AGE,1000.0,35.546,11.375469,19.0,27.00,33.0,42.00,75.0
OTHER_INSTALL,1000.0,0.186,0.389301,0.0,0.00,0.0,0.00,1.0
RENT,1000.0,0.179,0.383544,0.0,0.00,0.0,0.00,1.0
OWN_RES,1000.0,0.713,0.452588,0.0,0.00,1.0,1.00,1.0
NUM_CREDITS,1000.0,1.407,0.577654,1.0,1.00,1.0,2.00,4.0
JOB,1000.0,1.904,0.653614,0.0,2.00,2.0,2.00,3.0
NUM_DEPEND,1000.0,1.155,0.362086,1.0,1.00,1.0,1.00,2.0
TELEPHONE,1000.0,0.404,0.490943,0.0,0.00,0.0,1.00,1.0
FOREIGN,1000.0,0.037,0.188856,0.0,0.00,0.0,0.00,1.0
RESPONSE,1000.0,0.700,0.458487,0.0,0.00,1.0,1.00,1.0

In [37]:
from sklearn.model_selection import train_test_split
from sklearn import metrics 

crdt.columns = crdt.columns.str.strip().str.replace('#','')

ImportError: cannot import name 'LogisticRegression' from 'sklearn' (C:\ProgramData\Anaconda3\lib\site-packages\sklearn\__init__.py)

In [14]:
crdt.RESPONSE.value_counts()

1    700
0    300
Name: RESPONSE, dtype: int64

In [15]:
cedt=crdt.drop(['OBS'],axis =1)

In [17]:
cedt.corr()

,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO/TV,EDUCATION,RETRAINING,AMOUNT,...,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPEND,TELEPHONE,FOREIGN,RESPONSE
CHK_ACCT,1.000000,-0.072013,0.192191,-0.069559,0.064303,-0.098016,0.110632,0.007848,0.021587,-0.042705,...,0.059751,-0.043593,-0.091897,0.129434,0.076005,0.040663,-0.014145,0.066296,-0.026758,0.350847
DURATION,-0.072013,1.000000,-0.077186,-0.109999,0.144939,-0.062804,-0.044319,0.003750,0.164113,0.624984,...,-0.036136,0.067602,-0.064417,-0.075169,-0.011284,0.210910,-0.023834,0.164718,-0.138196,-0.214927
HISTORY,0.192191,-0.077186,1.000000,0.042480,0.039096,-0.025539,0.021396,0.054039,-0.090091,-0.059905,...,0.147086,-0.121950,-0.102540,0.100905,0.437066,0.010350,0.011550,0.052370,0.013873,0.228785
NEW_CAR,-0.069559,-0.109999,0.042480,1.000000,-0.187291,-0.259831,-0.344672,-0.126799,-0.181149,-0.040793,...,0.075044,-0.027462,-0.011620,-0.009618,0.035845,-0.088711,0.102663,-0.036275,0.154436,-0.096900
USED_CAR,0.064303,0.144939,0.039096,-0.187291,1.000000,-0.159301,-0.211317,-0.077740,-0.111062,0.252101,...,0.050858,-0.009791,0.039160,-0.141375,-0.005248,0.180730,0.054862,0.136693,-0.031564,0.099791
FURNITURE,-0.098016,-0.062804,-0.025539,-0.259831,-0.159301,1.000000,-0.293164,-0.107850,-0.154078,-0.034037,...,-0.127657,-0.004446,0.105700,-0.040496,-0.070478,0.013422,-0.086515,-0.053587,-0.009590,-0.020971
RADIO/TV,0.110632,-0.044319,0.021396,-0.344672,-0.211317,-0.293164,1.000000,-0.143066,-0.204388,-0.173203,...,-0.046401,-0.034801,-0.070414,0.134705,-0.030706,-0.027683,-0.082464,-0.082243,-0.063242,0.106922
EDUCATION,0.007848,0.003750,0.054039,-0.126799,-0.077740,-0.107850,-0.143066,1.000000,-0.075191,-0.007388,...,0.068483,0.008254,0.000598,-0.097880,-0.010728,-0.001405,0.041204,0.016831,-0.044969,-0.070088
RETRAINING,0.021587,0.164113,-0.090091,-0.181149,-0.111062,-0.154078,-0.204388,-0.075191,1.000000,0.103016,...,-0.001772,0.095155,-0.012013,0.051083,0.084980,0.001614,-0.000327,0.088221,-0.046343,-0.036129
AMOUNT,-0.042705,0.624984,-0.059905,-0.040793,0.252101,-0.034037,-0.173203,-0.007388,0.103016,1.000000,...,0.032716,0.048292,-0.024611,-0.117497,0.020795,0.285385,0.017142,0.276995,-0.050050,-0.154739
SAV_ACCT,0.222867,0.047661,0.039058,-0.002348,0.112880,-0.082241,-0.001974,0.010895,-0.017512,0.064630,...,0.084245,-0.005745,-0.007920,0.005788,-0.021644,0.011709,0.027514,0.087208,0.007095,0.178943
EMPLOYMENT,0.106339,0.057381,0.138225,-0.021232,0.039358,-0.080656,0.072807,0.018236,0.021688,-0.008367,...,0.256227,0.020378,-0.081508,0.007702,0.125791,0.101225,0.097192,0.060518,-0.027232,0.116002
INSTALL_RATE,-0.005280,0.074749,0.044375,-0.045801,-0.094797,-0.062979,0.138552,0.042471,-0.025326,-0.271316,...,0.058266,0.016139,-0.091373,0.049922,0.021669,0.097755,-0.071207,0.014413,-0.090024,-0.072404
MALE_DIV,-0.050555,0.006415,-0.009536,-0.018424,-0.032455,0.070907,-0.071533,-0.031579,0.079842,0.033619,...,0.062430,-0.038913,-0.035308,0.054265,-0.026622,0.054783,-0.060222,0.016831,-0.020661,-0.050063
MALE_SINGLE,0.052436,0.121889,0.086008,0.027374,0.089610,-0.074042,-0.033294,-0.003688,0.039675,0.152458,...,0.207434,0.067502,-0.225860,0.076736,0.118198,0.075686,0.283483,0.080290,0.028996,0.080677
MALE_MAR,-0.011241,-0.084418,-0.026015,-0.012487,-0.039567,-0.086736,0.125142,-0.057150,0.000888,-0.138289,...,-0.145529,-0.018780,0.058954,0.018387,-0.032623,-0.059147,-0.117209,-0.029388,0.047583,0.019630
CO-APPLICANT,-0.050780,0.029698,0.007710,0.004836,-0.053474,0.059977,-0.005391,-0.047436,-0.033688,0.079076,...,-0.018357,-0.008113,0.048162,-0.036043,-0.006001,0.014945,-0.032817,-0.016074,0.066338,-0.062728
GUARANTOR,-0.114673,-0.039594,-0.047179,-0.012426,-0.034910,-0.028216,0.114756,-0.053730,-0.046324,-0.065237,...,-0.023923,0.050097,0.019879,0.029113,-0.024682,-0.068998,0.036589,-0.073503,0.097256,0.055039
TIME_RES,-0.042234,0.034067,0.063198,0.019848,0.107257,-0.006934,-0.090043,0.040552,-0.048899,0.028926,...,0.266419,-0.016704,0.167285,-0.297547,0.089625,0.012655,0.042643,0.095359,-0.054097,-0.002967
REAL_ESTATE,0.035865,-0.242586,0.045799,0.042056,-0.131941,-0.052191,0.123937,-0.102988,0.019869,-0.248338,...,0.011538,-0.059696,0.026215,0.122495,0.008568,-0.251488,0.020203,-0.162717,0.112624,0.119300
PROP_NONE,-0.074624,0.212838,-0.025412,0.025940,0.128863,-0.071050,-0.117977,0.156355,-0.036864,0.248922,...,0.206368,0.066616,-0.069133,-0.476496,-0.012850,0.155995,0.077548,0.139930,-0.054276,-0.125750
AGE,0.059751,-0.036136,0.147086,0.075044,0.050858,-0.127657,-0.046401,0.068483,-0.001772,0.032716,...,1.000000,0.035362,-0.212620,0.006553,0.149254,0.015673,0.118201,0.145259,-0.006151,0.091127
OTHER_INSTALL,-0.043593,0.067602,-0.121950,-0.027462,-0.009791,-0.004446,-0.034801,0.008254,0.095155,0.048292,...,0.035362,1.000000,-0.069011,0.024895,0.050290,0.007301,0.072220,0.025433,-0.025623,-0.113285
RENT,-0.091897,-0.064417,-0.102540,-0.011620,0.039160,0.105700,-0.070414,0.000598,-0.012013,-0.024611,...,-0.212620,-0.069011,1.000000,-0.735968,-0.058070,-0.039195,-0.063033,-0.049524,0.032849,-0.092785
OWN_RES,0.129434,-0.075169,0.100905,-0.009618,-0.141375,-0.040496,0.134705,-0.097880,0.051083,-0.117497,...,0.006553,0.024895,-0.735968,1.000000,0.041386,-0.059393,-0.027579,-0.036275,0.018960,0.134589
NUM_CREDITS,0.076005,-0.011284,0.437066,0.035845,-0.005248,-0.070478,-0.030706,-0.010728,0.084980,0.020795,...,0.149254,0.050290,-0.058070,0.041386,1.000000,-0.026321,0.109667,0.065553,-0.009717,0.045732
JOB,0.040663,0.210910,0.010350,-0.088711,0.180730,0.013422,-0.027683,-0.001405,0.001614,0.285385,...,0.015673,0.007301,-0.039195,-0.059393,-0.026321,1.000000,-0.093559,0.383022,-0.100944,-0.032735
NUM_DEPEND,-0.014145,-0.023834,0.011550,0.102663,0.054862,-0.086515,-0.082464,0.041204,-0.000327,0.017142,...,0.118201,0.072220,-0.063033,-0.027579,0.109667,-0.093559,1.000000,-0.014753,0.077071,0.003015
TELEPHONE,0.066296,0.164718,0.052370,-0.036275,0.136693,-0.053587,-0.082243,0.016831,0.088221,0.276995,...,0.145259,0.025433,-0.049524,-0.036275,0.065553,0.383022,-0.014753,1.000000,-0.107401,0.036466
FOREIGN,-0.026758,-0.138196,0.013873,0.154436,-0.031564,-0.009590,-0.063242,-0.044969,-0.046343,-0.050050,...,-0.006151,-0.025623,0.032849,0.018960,-0.009717,-0.100944,0.077071,-0.107401,1.000000,0.082079
RESPONSE,0.350847,-0.214927,0.228785,-0.096900,0.099791,-0.020971,0.106922,-0.070088,-0.036129,-0.154739,...,0.091127,-0.113285,-0.092785,0.134589,0.045732,-0.032735,0.003015,0.036466,0.082079,1.000000

In [20]:
x = cedt[list(cedt.columns)[:-1]]
y = cedt['RESPONSE']

In [30]:
x_train,x_test,y_train,y_test=train_test_split(x,y,stratify=y,random_state=0)

In [31]:
x_train.head()

,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO/TV,EDUCATION,RETRAINING,AMOUNT,...,PROP_NONE,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPEND,TELEPHONE,FOREIGN
732,1,8,2,0,0,0,1,0,0,760,...,0,44,0,0,1,1,1,1,0,0
398,1,12,2,1,0,0,0,0,0,1223,...,0,46,0,1,0,2,2,1,0,0
933,3,12,4,0,0,0,1,0,0,522,...,0,42,0,0,1,2,2,2,1,0
72,0,8,4,0,0,0,0,0,0,1164,...,1,51,1,0,0,2,3,2,1,0
340,1,24,4,0,0,0,0,1,0,5743,...,1,24,0,0,0,2,2,1,1,0

In [32]:
y_train.head()

732    1
398    0
933    1
72     1
340    1
Name: RESPONSE, dtype: int64

In [41]:
from sklearn.linear_model.logistic import LogisticRegression

model= LogisticRegression(solver='liblinear',max_iter=100)
l1reg=model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [48]:
print("accuracy :\n", metrics.accuracy_score(y_test,y_pred))
print("classification:\n", metrics.classification_report(y_test,y_pred))
print("confusion matrix:\n", metrics.confusion_matrix(y_test,y_pred))

accuracy :
 0.78
classification:
               precision    recall  f1-score   support

           0       0.70      0.47      0.56        75
           1       0.80      0.91      0.85       175

   micro avg       0.78      0.78      0.78       250
   macro avg       0.75      0.69      0.71       250
weighted avg       0.77      0.78      0.77       250

confusion matrix:
 [[ 35  40]
 [ 15 160]]

In [54]:
url=r'\\192.168.0.118\d\MachineLearning\Data\iris.csv'
iris=pd.read_csv(url)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [55]:
from sklearn.model_selection import train_test_split
from sklearn import metrics 
from sklearn.linear_model.logistic import LogisticRegression

In [56]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [59]:
x = iris[list(iris.columns)[:-1]]
y = iris['species']

In [60]:
ix_train,ix_test,iy_train,iy_test=train_test_split(x,y,stratify=y,random_state=0)

In [62]:
iy_train.head()

60     versicolor
1          setosa
8          setosa
93     versicolor
106     virginica
Name: species, dtype: object

In [63]:
ix_train.head()

     sepal_length  sepal_width  petal_length  petal_width
60            5.0          2.0           3.5          1.0
1             4.9          3.0           1.4          0.2
8             4.4          2.9           1.4          0.2
93            5.0          2.3           3.3          1.0
106           4.9          2.5           4.5          1.7

In [71]:
model= LogisticRegression(solver='liblinear')
l1reg=model.fit(ix_train,iy_train)
iy_pred=model.predict(ix_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

In [72]:
print("accuracy :\n", metrics.accuracy_score(iy_test,iy_pred))
print("classification:\n", metrics.classification_report(iy_test,iy_pred))
print("confusion matrix:\n", metrics.confusion_matrix(iy_test,iy_pred))

accuracy :
 0.9736842105263158
classification:
               precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        13
  versicolor       1.00      0.92      0.96        13
   virginica       0.92      1.00      0.96        12

   micro avg       0.97      0.97      0.97        38
   macro avg       0.97      0.97      0.97        38
weighted avg       0.98      0.97      0.97        38

confusion matrix:
 [[13  0  0]
 [ 0 12  1]
 [ 0  0 12]]